@import "../node_modules/@fontsource/roboto/400.css";

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
    font-family: Roboto;
}

.main-frame {
    max-width: 80rem;
    margin: 0 auto;
}

.mt-20 {
    margin-top: 1.25rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.page {
    padding-top: 2rem;
    padding-bottom: 6rem;
}

.character-card-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 15rem);
    gap: 1.25rem;
}
